  /*************/
 /* Resources */
/*************/
@font-face {
  font-family: 'Dogica';
  src: url('res/dogicapixel.ttf');
}

/***********************/
 /* Gobal page settings */
/***********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

  /*********/
 /* Texts */
/*********/

p {
  font-family: "Dogica", sans-serif;
}

  /******************/
 /* Game container */
/******************/

#game-container {
  position: relative;
  width: 700px;
  height: 350px;
  overflow: hidden;
}

#background {
  position: absolute;
  width: 100%; /* Largeur double pour le défilement */
  height: 100%;
  background-image: url('res/background.jpg'); /* Remplace par ton image de fond */
  background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
  background-repeat: repeat-x; /* Répète horizontalement */
  top: 0;
  left: 0;
}

#score {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
}

  /**************/
 /* Characters */
/**************/

#player {
  position: absolute;
  bottom: 50px;
  left: 200px;
  width: 50px;
  height: auto;
}

#enemy {
  position: absolute;
  bottom: 0;
  right: -50px; /* Commence hors de l'écran */
  width: 30px;
  background-color: #e74c3c; /* Rouge */
}

  /*************/
 /* Game Over */
/*************/

#game-over-container {
  position: relative;
  width: 700px;
  height: 350px;
  text-align: center;
  position: absolute;
  background-color: rgba(255,255,255,0.66);
  visibility: hidden;
  z-index: 999;
}

#game-over-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#game-over-title {
  font-size: 24px;
  font-weight: bold;
}

#game-over-score {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 15px;
}

  /********************/
 /* Starting button */
/********************/

#start-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: "Dogica";
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 0%;
  border: 2px solid #000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#start-button:focus {
  background-color: #93cfa4;
}

  /*****************/
 /* Player choice */
/*****************/

#player-choice-container {
  position: relative;
  top : 20px;
  width: fit-content;
  margin: 0 auto;
}

.player-choice-item {
  display: inline-flex;
  margin: 10px;
}

.player-choice-item input {
	display: none;
}

.player-choice-box{
	cursor: pointer;
  padding: 20px;
  font-size: 14px;
  text-align: center;
	border: 2px solid #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.player-choice-item input:checked + .player-choice-box {
	border: 5px solid #349E52;
	background-color: #faeaf7;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#player-choice-container img {
  width: 50px;
  margin: 10px;
}