@font-face {
    font-family: bebasBook;
    src: url(res/bebas_neue_pro_book.otf);
}

@font-face {
    font-family: bebasKai;
    src: url(res/bebas_kai.otf);
}

@font-face {
    font-family: auromiya;
    src: url(res/auromiya.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color:white;
}

.loginContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

h1 {
    margin-bottom: 8vh;
    font-family: auromiya;
    font-size: 2.5em;
}

p {
    font-family: bebasBook;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
}

input {
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.66em;
    padding-bottom: 0.66em;
    font-family: bebasBook;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
    border: 1px solid #000;
    border-radius: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type=text]:focus {
    border: 2px solid #47642D;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  /*button {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.66em;
    padding-bottom: 0.66em;
    font-family: bebasKai;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
    border-radius: 100px;
    border: none;
    background-color: #47642D;
    color: white;
    min-width: 35%;
  }

  button::before {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.66em;
    padding-bottom: 0.66em;
    font-family: bebasKai;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
    border-radius: 100px;
    border: none;
    background-color: #47642D;
    color: white;
    min-width: 35%;
    bottom: -7px;
  left: -2px;
  }*/

  button {
    position: relative; /* Enable the 'after' view */
    min-width: 35%;
    background-color: #47642D;
    color: white;
    padding: 0.66em 1em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: bebasKai;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
    transition: all 0.2s ease;
}

button::after {
    content: ''; /* Need this to show the 'after' view */
    position: absolute;
    width: 98%;
    height: 95%;
    top: 2px;
    left: 3px;
    border: 2px solid #EED46E;
    border-radius: 100px;
    transition: all 0.2s ease;
}

button:hover::after {
    top: 4px;
    left: 5px;
}

button:active {
    background-color: color-mix(in oklab, black 15%, #47642D);
}

button:active::after {
    top: 2px;
    left: 3px;
}