* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
}

/* COMMON ASSETS */

.fakeImage {
    color: red;
    font-size:20vh;
    line-height: 8vh;
    size: 1vh;
}

.sectionTitle {
    margin-bottom: 10vh;
}

.subSectionTitle {
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

/* HEADER */

.header {
    width: 100%;
    height: 100%;
    position: relative;
}

.header a {
    text-decoration: none;
    color: black;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.welcome h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.welcome button {
    margin-top: 3vh;
}

.scrollIndicator {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.scrollIndicator p {
    margin-bottom: 1vh;
}

/* PLANNING */

.planning {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.planningContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planningInfoContainer {
    display: flex;
    text-align: center;
    align-items: center;
}

.planningInfo {
    flex: 1;
}

.planningTitle {
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.planningDate {
    font-weight: normal;
}

.planningHour {
    font-weight: normal;
    margin-bottom: 1vh;
}

.planningLocation {
    font-size: 80%;
}

/* THEME */

.theme {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.themeContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GIFTS */

.giftList {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.giftListContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giftListContainer button {
    margin-top: 5vh;
}