/* PLANNING */

.planning {
    width: 100%;
    height: 100%;
    background-color: #FFFBF1;
}

.planningContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
}

.planningInfoContainer {
    display: flex;
    text-align: center;
    align-items: center;
}

.planningInfo {
    flex: 1;
}

.planningTitle {
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.planningDate {
    font-weight: normal;
}

.planningHour {
    font-weight: normal;
    margin-bottom: 1vh;
}

.planningLocation {
    font-size: 80%;
}

/* Phone design */
@media only screen and (max-width: 600px) {

}

/* Large Phone design and portrait tablet */
@media only screen and (min-width: 600px) {

}

/* Landscape tablets */
@media only screen and (min-width: 768px) {

}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {

}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {

}