/* PLANNING */

.planningInfoContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: top;
}

.planningInfo {
    flex: 1;
}

.planningDate {
    font-family: auromiya;
    margin-top: 1.5vh;
    font-size: 1em;
}

.planningHour {
    margin-top: 1.5vh;
    font-size: 1em;
}

.planningEventType {
    font-family: auromiya;
    margin-top: 1.5vh;
    white-space: pre-line;
    font-size: 1em;
}

.planningLocation {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 80%;
    font-size: 0.9em;
}

.planningImage {
    height: 3.5em;
    margin-bottom: 1.5vh;
}

/* Phone design */
@media only screen and (max-width: 600px) {
    .planningInfoContainer {
        flex-direction: column;
    }

    .planningInfo.spaced {
        margin-bottom: 8vh;
    }

    .planningDate {
        margin-top: 1vh;
    }
    
    .planningHour {
        margin-top: 1vh;
    }
    
    .planningEventType {
        margin-top: 1vh;
    }
    
    .planningLocation {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    
    .planningImage {
        margin-bottom: 1vh;
    }
}

/* Large Phone design and portrait tablet */
@media only screen and (min-width: 600px) {

}

/* Landscape tablets */
@media only screen and (min-width: 768px) {

}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {

}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {

}