/* THEME */

.theme {
    width: 100%;
    height: max-content;
    min-height: 100%;
    background-color: #F6BEC4;
    display: flex;
    flex-direction: column;
}

.themeContainer {
    flex: 1;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    background-color: blueviolet;
}