input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: bebasBook;
    src: url(res/bebas_neue_pro_book.otf);
}

@font-face {
    font-family: bebasRegular;
    src: url(res/bebas_neue_pro_regular.otf);
}

@font-face {
    font-family: bebasKai;
    src: url(res/bebas_kai.otf);
}

@font-face {
    font-family: auromiya;
    src: url(res/auromiya.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #4C6627;
    font-family: bebasBook;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
}

#hidden-button {
   opacity: 0%;
   position: absolute;
   top: 100px;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   text-decoration: none;
   background-color: aqua;
   cursor: help;
   padding: 5px;
}

/* COMMON ASSETS */

.fakeImage {
    color: red;
    font-size:20vh;
    line-height: 8vh;
    size: 1vh;
}

.sectionTitle {
    margin-bottom: 10vh;
}

.subSectionTitle {
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

/* LOADERS */

.mainLoaderContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.formLoaderContainer {
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 100%;
    position: relative;
    left: 49%;
    transform: translate(-50%, -50%);
}

/* PAGE CONTENT*/

.pageContent {
    width: 100%;
    height: 100%;
    position: relative;
}

/* WELCOME */

.welcome {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #4C6627;
}

#welcomeHeart {
    height: 0.8em;
    width: auto;
    margin-bottom:3vh;
}

.welcome a {
    text-decoration: none;
    color: black;
}

.welcomeLabels {
    position: absolute;
    padding: 50px;
    text-align: center;
    color: black;
    white-space: pre-line; /* Add line break for each \n\r */
}

#welcomeLabels {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#welcomeCookie {
    width: 28em;
    position: absolute;
}

.welcomeLabels h1 {
    font-family: auromiya;
    font-size: 2em;
}

.welcomeLabels button {
    margin-top: 3vh;
    min-width: 12vw;
}

.scrollIndicator {
    width: 80%;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.scrollIndicator p {
    font-size: small;
    margin-bottom: 1vh;
    color:#FFFBF1
}

#welcomeArrow {
    height: 1.5em;
    margin-bottom: 1vh;
    width: auto;
}

/* PLANNING */

.planning {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.planningContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planningInfoContainer {
    display: flex;
    text-align: center;
    align-items: center;
}

.planningInfo {
    flex: 1;
}

.planningTitle {
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.planningDate {
    font-weight: normal;
}

.planningHour {
    font-weight: normal;
    margin-bottom: 1vh;
}

.planningLocation {
    font-size: 80%;
}

/* THEME */

.theme {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.themeContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GIFTS */

.giftList {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.giftListContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giftListContainer button {
    margin-top: 5vh;
}

/* MAPS */

.maps {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.mapsContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eventMapContainer {
    display: flex;
}

.eventMapItem {
    flex: 1;
}

.maps iframe {
    height: 30vh;
    width: 90%;
}

.eventMapItem .subSectionTitle {
    margin-top: 0px;
}

/* FORM */

.form {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.formContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.joinChoiceContainer .subSectionTitle {
    margin-bottom: 0;
}

.joinChoiceContainer p {
    margin-top: 2vh;
}

.foodChoiceContainer {
    display: flex;
    text-align: center;
    align-items: center;
}

.foodChoice {
    flex: 1;
}

.foodChoice p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.formContainer button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 6vh;
}





/* Phone design */
@media only screen and (max-width: 600px) {

    /* Welcome Section */

    .welcomeLabels h1 {
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 1.8em;
    }
    
    .welcomeLabels button {
        margin-top: 2vh;
        min-width: 30vw; 
    }

}

/* Large Phone design and portrait tablet */
@media only screen and (min-width: 600px) {
    .welcomeLabels button {
        min-width: 20vw;
    }
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {
    .welcomeLabels button {
        min-width: 18vw;
    }
}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {
    .welcomeLabels button {
        min-width: 15vw;
    }
}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {
    .welcomeLabels button {
        min-width: 12vw;
    }
}