/* FORM */

.formContainer {
    background-color:rgba(255,255,255,0.66);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 2.5em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
}

.formUserName {
    font-family: auromiya;
    font-size: 1.15em;
}

.formSeparator {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.33);
    margin-top: 2em;
    margin-bottom: 2em;
}

.buttonContainer {
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foodSectionTitle1 {
    display: none;
}

#foodSectionTitle2 {
    display: none;
}

#foodSectionTitle3 {
    display: none;
}

#formFoodContainer1 {
    display: none;
}

#formFoodContainer2 {
    display: none;
}

#formFoodContainer3 {
    display: none;
}

/*** GENERIC SELECTOR ***/

.formSelectorContainer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectorItem {
    width: 12vw;
}

.selectorItemImage {
    height: 3.5em;
}

/* Card */
.selectorItemContent {
	background-color: transparent;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 0.6em;
  	padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-radius: 0.5em;
    border: 0.15em solid transparent;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: background-color 0.3s, border 0.3s;
}
/* Card when hovered */
.selectorItemContent:hover {
	background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s;
}
/* Card when checkbox is selected*/
.selectorItem input[type="checkbox"]:checked + .selectorItemContent {
    background-color: white;
    border: 0.15em solid #4C6627;
    transition: background-color 0.3s, border 0.3s;
}

/* Card when radio is selected*/
.selectorItem input[type="radio"]:checked + .selectorItemContent {
    background-color: white;
    border: 0.15em solid #4C6627;
    transition: background-color 0.3s, border 0.3s;
}

.selectorItemContent p {
    text-align: center;
}

/*** SPECIFIC CHECKBOX ***/

/* Checkbox checkmark container */
.checkboxItemCheckmark {
    height: 1em;
    width: 1em;
    background-color: transparent;
    border: 0.14em solid #959595;
    border-radius: 0.2em;
    position: relative;
    transition: background-color 0.3s, border 0.3s;
}
/* Checkbox checkmark container when card id hovered*/
.selectorItemContent:hover .checkboxItemCheckmark {
	border: 0.14em solid #4C6627;
    transition: border 0.3s;
}
/* Checkbox checkmark container when checkbox is selected*/
.selectorItem input[type="checkbox"]:checked ~ .selectorItemContent .checkboxItemCheckmark {
    background-color: #4C6627;
    border: 0.14em solid #4C6627;
    transition: background-color 0.3s, border 0.3s;
}

/* Checkbox checkmark check icon */
.checkboxItemCheckmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.2em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: translate(-50%, -70%) rotate(45deg);
    display: none;
    transition: opacity 0.3s;
}

/* Checkbox checkmark check icon when checkbox is selected */
.selectorItem input[type="checkbox"]:checked ~ .selectorItemContent .checkboxItemCheckmark:after {
    display: block;
    transition: opacity 0.3s;
  }

/* Hide the real checkbox */
.selectorItem input[type="checkbox"] {
	position: absolute;
  	opacity: 0;
}

/*** SPECIFIC RADIO ***/

/* Checkbox checkmark container */
.radioItemCheckmark {
    height: 1em;
    width: 1em;
    background-color: transparent;
    border: 0.14em solid #959595;
    border-radius: 1em;
    position: relative;
    transition: background-color 0.3s, border 0.3s;
}
/* Checkbox checkmark container when card id hovered*/
.selectorItemContent:hover .radioItemCheckmark {
	border: 0.14em solid #4C6627;
    transition: border 0.3s;
}
/* Checkbox checkmark container when checkbox is selected*/
.selectorItem input[type="radio"]:checked ~ .selectorItemContent .radioItemCheckmark {
    border: 0.14em solid #4C6627;
    transition: background-color 0.3s, border 0.3s;
}

/* Checkbox checkmark check icon */
.radioItemCheckmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.55em;
    height: 0.55em;
    border-radius: 0.55em;
    background-color: #4C6627;
    transform: translate(-50%, -50%);
    display: none;
    transition: opacity 0.3s;
}

/* Checkbox checkmark check icon when checkbox is selected */
.selectorItem input[type="radio"]:checked ~ .selectorItemContent .radioItemCheckmark:after {
    display: block;
    transition: opacity 0.3s;
  }

/* Hide the real checkbox */
.selectorItem input[type="radio"] {
	position: absolute;
  	opacity: 0;
}

/* Phone design */
@media only screen and (max-width: 600px) {
    .formContainer {
        margin-bottom: 0;
        padding-left: 0em;
        padding-right: 0em;
    }
    .formUserName {
        text-align: center;
    }
    .formContainer .subSectionTitle {
        text-align: center;
    }
    .formSelectorContainer {
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
    .selectorItem {
        width: 23vw;
    }
    .selectorItemImage {
        height: 2.8em;
    }
    .buttonContainer {
        width: 100%;
    }
    .buttonContainer button {
        width: 50%;
    }
    .formSeparator {
        width: 85%;
        margin: 7.5%;
    }
}

/* Large Phone design and portrait tablet */
@media only screen and (min-width: 600px) {
    .selectorItem {
        width: 16vw;
    }
    .buttonContainer {
        width: 100%;
    }
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {
    .selectorItem {
        width: 16vw;
    }
    .buttonContainer {
        width: 90%;
    }
}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {
    .selectorItem {
        width: 14vw;
    }
    .buttonContainer {
        width: 70%;
    }
}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {
    .selectorItem {
        width: 12vw;
    }
    .buttonContainer {
        width: 60%;
    }
}