/* FORM */

.formContainer {
    background-color:rgba(255,255,255,0.66);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 2.5em;
    border-radius: 1.5em;
}

.formUserName {
    font-family: auromiya;
    font-size: 1.15em;
}

.formSeparator {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.33);
    margin-top: 2em;
    margin-bottom: 2em;
}

/*** CHECHBOX ***/

.formCheckboxContainer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkboxItem {
    width: 12vw;
}
  
.checkboxItemImage {
    height: 3.5em;
}

  /* Checkbox card */
.checkboxItemContent {
	background-color: transparent;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 0.6em;
  	padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-radius: 0.5em;
    border: 0.15em solid transparent;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: background-color 0.3s, border 0.3s;
}
/* Checkbox card when hovered */
.checkboxItemContent:hover {
	background-color: rgba(255, 255, 255, 0.66);
    transition: background-color 0.3s;
}
/* Checkbox card when checkbox is selected*/
.checkboxItem input[type="checkbox"]:checked + .checkboxItemContent {
    background-color: white;
    border: 0.15em solid #4C6627;
    transition: background-color 0.3s, border 0.3s;
  }

/* Checkbox checkmark container */
.checkboxItemCheckmark {
    height: 1em;
    width: 1em;
    background-color: transparent;
    border: 0.14em solid #959595;
    border-radius: 0.2em;
    position: relative;
    transition: background-color 0.3s, border 0.3s;
}
/* Checkbox checkmark container when card id hovered*/
.checkboxItemContent:hover .checkboxItemCheckmark {
	border: 0.14em solid #4C6627;
    transition: border 0.3s;
}
/* Checkbox checkmark container when checkbox is selected*/
.checkboxItem input[type="checkbox"]:checked ~ .checkboxItemContent .checkboxItemCheckmark {
    background-color: #4C6627;
    border: 0.14em solid #4C6627;
    transition: background-color 0.3s, border 0.3s;
}

/* Checkbox checkmark check icon */
.checkboxItemCheckmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.2em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: translate(-50%, -70%) rotate(45deg);
    display: none;
    transition: opacity 0.3s;
}

/* Checkbox checkmark check icon when checkbox is selected */
.checkboxItem input[type="checkbox"]:checked ~ .checkboxItemContent .checkboxItemCheckmark:after {
    display: block;
    transition: opacity 0.3s;
  }

/* Hide the real checkbox */
.checkboxItem input[type="checkbox"] {
	position: absolute;
  	opacity: 0;
}