input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: bebasBook;
    src: url(res/bebas_neue_pro_book.otf);
}

@font-face {
    font-family: bebasRegular;
    src: url(res/bebas_neue_pro_regular.otf);
}

@font-face {
    font-family: bebasKai;
    src: url(res/bebas_kai.otf);
}

@font-face {
    font-family: auromiya;
    src: url(res/auromiya.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #4C6627;
    font-family: bebasBook;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
}

#hidden-button {
   opacity: 0%;
   position: absolute;
   top: 100px;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   text-decoration: none;
   cursor: help;
   padding: 5px;
}

/* COMMON ASSETS */

.section {
    width: 100%;
    height: max-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.section.green {
    background-color: #4C6627;
}

.section.beige {
    background-color: #FFFBF1;
}

.section.pink {
    background-color: #F6BEC4;
}

.section.form {
    background-image: url(res/main_form_background.png);
    background-size: cover;
}

.sectionContainer {
    flex: 1;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}

.sectionTitle {
    margin-bottom: 10vh;
    font-family: auromiya;
    font-size: 1.25em;
    text-align: left;
}

.subSectionTitle {
    font-family: bebasRegular;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.sectionTransition { 
    width: 100%;
    height: 2.3em;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center top;
}

.sectionTransition.greenInverse {
    background-image: url(res/main_section_transition-green_inverse.png);
}

.sectionTransition.green {
    background-image: url(res/main_section_transition-green.png);
}

.sectionTransition.pink {
    background-image: url(res/main_section_transition-pink.png);
}

.sectionTransition.beige {
    background-image: url(res/main_section_transition-beige.png);
}

/* PAGE CONTENT*/

.pageContent {
    width: 100%;
    height: 100%;
    position: relative;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    margin: 1em;
    height: 8vh;
}

/* Phone design */
@media only screen and (max-width: 600px) {
    .sectionTitle {
        margin-top:11vh;
        text-align: center;
    }

    .sectionContainer {
        margin-bottom: 11vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}

/* Large Phone design and portrait tablet */
@media only screen and (min-width: 600px) {
    .sectionTitle {
        margin-top:22vh;
    }
    .sectionContainer {
        margin-bottom: 22vh;
    }
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {

}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {

}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {

}