@font-face {
    font-family: bebasBook;
    src: url(res/bebas_neue_pro_book.otf);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    background-color: #F6B5BB; /* Black background color */
    color: #000; /* White text color */
    font-family: bebasBook; /* Define font */
    font-size: 0.95em;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-align: center; /* Centered text */
    border-radius: 100px; /* Rounded borders */
    padding-top: 16px; /* Padding */
    padding-bottom: 16px; /* Padding */
    padding-left: 32px; /* Padding */
    padding-right: 32px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    transform: translate(-50%); /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    white-space: pre-line; /* Add line break for each \n\r */
}

 /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

 /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Phone design */
@media only screen and (max-width: 600px) {
    #snackbar {
        width: 80%;
    }
}

/* Large Phone design and portrait tablet */
@media only screen and (min-width: 600px) {
    #snackbar {
        width: 70%;
    }
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {
    #snackbar {
        width: 50%;
    }
}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {
    #snackbar {
        width: 40%;
    }
}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {
    #snackbar {
        width: 35%;
    }
}