/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px; /* Ajuste la hauteur selon tes besoins */
  overflow: hidden;
  background-color: #7c1a1a; /* Couleur de fond du jeu */
  margin-bottom: 10px; /* Ajoute un espace entre le jeu et le bouton */
}

#start-button {
  display: block;
  margin: 0 auto; /* Centre le bouton horizontalement */
  padding: 10px 20px; /* Ajoute un peu d'espace autour du texte */
  font-size: 16px; /* Ajuste la taille de la police */
  cursor: pointer; /* Change le curseur au survol */
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: auto;
}

#enemy {
  position: absolute;
  bottom: 0;
  right: -50px; /* Commence hors de l'écran */
  width: 30px;
  background-color: #e74c3c; /* Rouge */
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#background {
  position: absolute;
  width: 200%; /* Largeur double pour le défilement */
  height: 100%;
  background-image: url('background.jpg'); /* Remplace par ton image de fond */
  background-size: cover; /* Ajuste l'image pour couvrir toute la zone */
  background-repeat: repeat-x; /* Répète horizontalement */
  top: 0;
  left: 0;
}
