@font-face {
    font-family: bebasRegular;
    src: url(res/bebas_neue_pro_regular.otf);
}

@font-face {
    font-family: auromiya;
    src: url(res/auromiya.ttf);
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.navBar {
    background-color:rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftNavItems {
    display: flex;
}

.rightNavItems {
    display: flex;
}

nav a {
    padding: 2vh 3vh;
    text-decoration: none;
    color: black;
    align-self: center;
}

nav a:hover {
    font-family: bebasRegular;
}

nav a:active {
    scale: 0.97;
}

.menuOpened {
    background-color:rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
}

.menuItem {
    align-self: flex-end;
}

.navBurger {
    display: none;
}

.navBurger label {
    cursor: pointer;
    padding: 3vw 3vw;
}

/* Phone design (custom size) */
@media only screen and (max-width: 672px) {
    .rightNavItems {
        display: none;
    }
    
    .navBurger {
        display: flex;
    }
}

/* Large Phone design and portrait tablet (custom size)*/
@media only screen and (min-width: 672px) {
    
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {
    
}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {
    
}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {
    
}