input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

button {
    position: relative; /* Enable the 'after' view */
    min-width: 35%;
    background-color: #47642D;
    color: white;
    padding: 0.66em 1em;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-family: bebasKai;
    font-size: 1.1em;
    line-height: 1.25;
    letter-spacing: 0.05em;
    transition: all 0.2s ease;
}

button::after {
    content: ''; /* Need this to show the 'after' view */
    position: absolute;
    width: 98%;
    height: 95%;
    top: 2px;
    left: 3px;
    border: 2px solid #EED46E;
    border-radius: 100px;
    transition: all 0.2s ease;
}

button:hover::after {
    top: 4px;
    left: 5px;
}

button:active {
    background-color: color-mix(in oklab, black 15%, #47642D);
}

button:active::after {
    top: 2px;
    left: 3px;
}

button:disabled {
    background-color: color-mix(in oklab, white 66%, #47642D);
    cursor: default;
}

button:disabled::after {
    top: 2px;
    left: 3px;
}