.loader {
    position: relative;
    height: 30%;
    animation: beat .7s infinite alternate;
    transform-origin: center;
}

@keyframes beat{
	to { transform: scale(1.4); }
}
   
.loaderContainer {
    position: fixed;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 9999;
}

/* Phone design (custom size) */
@media only screen and (max-width: 672px) {
    .loader {
        height: 20%;
    }
}

/* Large Phone design and portrait tablet (custom size)*/
@media only screen and (min-width: 672px) {
    
}

/* Landscape tablets */
@media only screen and (min-width: 768px) {
    
}

/* Laptop and desktop */
@media only screen and (min-width: 992px) {
    
}

/* Large laptop and desktop */
@media only screen and (min-width: 1200px) {
    
}